.register {

}

.modal__header {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 62px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 48px;
}

.wrapper__modal {
    width: 400px;
    height: 600px;
    background: rgba(171, 171, 171, 0.15);
    border-radius: 24px;
    border: 2px solid white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    animation: appearanceModal .5s ease-in;
    padding: 75px 30px 85px 30px;
}

@keyframes appearanceModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.register__wrapper {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons__registered {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 17px;
}